.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .body {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    background-color: var(--bg-color-2);
    border-radius: 10px;

    .header {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
