.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty {
  width: max-content;
  margin: 0 auto;
  padding: 7px 15px;

  background-color: var(--bg-3);
  border-radius: 8px;

  font-size: 16px;
}
