.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 15px;

  border: none;
  border-radius: 8px;
  background-color: var(--black-1);
  color: var(--white);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;

  cursor: pointer;

  &--primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &--secondary {
    background-color: var(--secondary);
    color: var(--black);
  }

  &--delete {
    background-color: var(--red);
    color: var(--white);
  }
}
